@import 'base/_base';

@import 'include/_header';
@import 'include/_footer';
@import 'pages/index';


//include here your components or page styles


.btn {
    width: 160px; 
    height: 60px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 70px;   
    border-radius: 2em;
    border: 1px solid  rgb(255, 137, 0);
    color: rgb(255, 137, 0);
    background-color: transparent;
    transition: all ease-in 0.3s;
    &:hover {
        background-color:  rgb(255, 137, 0);
        color: #ffffff;
        transform: scale(1.1);
        cursor: pointer;

    }
}
.rectangle {
    transition: all ease-in 0.3s;
    padding: 8px 22px;
    border-radius: 3px;
    border: 2px solid  rgb(255, 137, 0);
    color: rgb(255, 137, 0);
    font-weight: 700;
    &:hover {
        background-color:  rgb(255, 137, 0);
        color: #ffffff;
        transform: scale(1.1);
        cursor: pointer;

    }
}
