main  {
    position: relative;
   
    section {
        padding-top: 109px;
        @media (max-width: 900px) {
            padding-top: 90px;
        }
        .banner {
            width: 100%;
            height: 800px;
            background-image: url(/img/banner.jpg);
            background-size: cover;
            background-position: center;
            padding: 40px 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media (max-width: 800px) {
                padding: 30px 0;
                height: auto;
            }
            .content-title {
                display: flex;
                flex-direction: column;
                width: 60%;
                h1 {
                    color:#ff9900;
                    font-size: 80px;
                    text-transform: uppercase;
                    line-height: 90px;
                    @media (max-width: 800px) {
                        font-size: 40px;
                    }
                    @media (max-width: 430px){
                        line-height: 50px;
                    }
                }
                h3 {
                    color:#ffffff;
                    font-size: 28px;
                    @media (max-width: 800px) {
                        font-size: 18px;
                    }

                }
                span {
                    color:#ffffff;
                    font-size: 24px;
                    font-weight: lighter;
                    margin-top: 60px;
                    @media (max-width: 800px) {
                        font-size: 14px;
                        margin-top: 30px;
                    }
                }
                .buttons {
                    margin: 60px 0 0 0;
                    display: flex;
                    @media (max-width: 800px) {
                        margin: 30px 0 0 0;
                        flex-wrap: wrap;
                        .btn {
                            margin-top: 20px;
                            @media (max-width: 510px){
                                margin-right: 10px;
                                width: 200px;
                            }
                           
                        }
                    }
                    @media (max-width: 510px){
                        justify-content: center;
                    }
                   
                }
                @media (max-width: 700px) {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            > div {
                width: 33.3%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media (max-width: 1360px) {
                    width: 50%;
                }
                @media (max-width: 900px) {
                    width: 100%;
                }
                
                .icon {
                    width: 82px;
                    height: 80px;
                    background-color:#201f3d;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                h3 {
                    margin: 30px 0;
                    color: #3c3950;
                    font-size: 28px;
                    text-transform: uppercase;
                    @media (max-width: 700px) {
                        margin: 20px 0;
                        font-size: 24px;
                    }
                }
                p {
                    font-size: 14px;
                    color: #333333;
                    font-style: italic;
                    text-align: center;
                }

            }
            >div:nth-child(odd) {
                padding: 50px ;
                @media (max-width: 700px) {
                    padding: 30px;
                }
            }
        }
        .block {
            margin: 40px 0 90px 0;
            @media (max-width: 700px) {
                margin: 20px 0 40px 0;
            }

            .education {
                display: flex;
                align-items: center;
                flex-direction: column;
                h1 {
                    font-size: 36px;
                    color: #3c3950;
                    text-transform: uppercase;
                    line-height: 53px;
                    margin: 30px 0;
                    text-align: center;
                    @media (max-width: 870px) {
                        font-size: 24px;
                        margin: 15px 0;
                    }

                }
                .educationCards {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 5px;
                    width: 100%;
                    >div {
                        width: 25%;
                        padding-left: 5px;
                        @media (max-width: 1120px){
                            width: 50%;
                            margin-bottom: 5px;
                        }
                        @media (max-width: 580px){
                            width: 100%;
                            margin-bottom: 5px;
                        }
                        .item {
                            padding: 30px;
                            background-color: #f0f3f2;
                            font-size: 16px;
                            color: #3c3950;
                            text-transform: uppercase;
                            height: 276px;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            .icon {
                                transition: all ease-in 0.5s;
                                width: 80px;
                                height: 80px;
                                margin: 0 auto 50px;
                               
                            }
                            &:hover {
                                .icon {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
    
                }
            }
           
        }
        .line-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px 120px;
            background-color: #201f3d;
            @media (max-width: 1200px) {
                padding: 30px 60px;
                flex-wrap: wrap;
                justify-content: center;
                .btn {
                    margin: 30px 0 0 0;
                }
            }
            h1 {
                font-size: 28px;
                color: #ff8900;
                @media (max-width: 900px) {
                    font-size: 18px;
                    text-align: center;
                }
            }
            &.orange {
                background-color: #f7d365;
                h1 {
                    color: #201f3d
                }
            }
            &.grey {
                background-color: #c7c7ce;
            }
            &.light-orange {
                justify-content: space-around;
                background-color: #fbe9b2;
                h1 {
                    color: #201f3d;
                    
                }
            }

        }
        .founder {
            margin: 60px 0;
            @media (max-width: 800px){
                margin: 30px 0;
            }
            .founderBlock {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .info {
                    width: 65%;
                    padding-right: 30px;
                    @media (max-width: 800px){
                        width: 100%
                    }
                    h3 {
                        text-align: center;
                        margin-bottom: 40px;
                        color: #3c3950;
                        font-size: 28px;
                        text-transform: uppercase;
                    }
                    p {
                        font-size: 18px;
                        color: #333333;
                    }
                }
                .img {
                    width: 35%;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    @media (max-width: 800px){
                        width: 80%;
                        margin: 0 auto;
                        img {
                            height: 300px;
                            margin-top: 20px;

                        }
                    }
                    
                }
            }
        }
        .line-country {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .box {
                width: 33.3%;
                height: 320px;
                position: relative;
                @media (max-width: 900px) {
                    width: 100%;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .text {
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: #ffffff;
                    h1 {
                        font-size: 40px;
                    }
                    h4 {
                        font-size: 20px;
                        margin-top: 40px;
                    }
                    
                }
                
            }
        }
        .mentor {
            margin: 60px 0;
            h1 {
                margin-bottom: 40px;
                color: #3c3950;
                font-size: 28px;
                text-transform: uppercase;
                margin-bottom: 30px;
                text-align: center;
            }
            
            .mentor-block {
                padding: 60px;
                background-color:  #f0f3f2;
                @media (max-width: 800px){
                    padding: 30px;
                }
                p {
                    font-size: 18px;
                    color: #333333;
                    font-weight: 400;
                    line-height: 37px;

                }

            }
        }
        .advantages {
            width: 100%;
            background-image: url(../img/png/9.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 50px 0;
            h1 {
                text-align: center;
                color: #3c3950;
                font-size: 36px;
                text-transform: uppercase;
                @media (max-width: 1100px){
                    font-size: 24px;
                }

            }
            .advantage-block {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
               
                .inner-box {
                    width: 25%;
                    display: flex;
                    align-items: ceter;
                    flex-direction: column;
                    padding: 40px ;
                    text-align: center;
                    @media (max-width: 1100px){
                        width: 50%;
                        padding: 20px;
                    }
                    @media (max-width: 760px){
                        width: 100%;
                        padding: 10px;
                    }
                    .ad-icon {
                        margin: 0 auto 40px;
                        width: 80px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 100%;
                        border: 3px solid #3c3950;
                        transition: all ease-in 0.3s;
                        &:hover {
                            transform: scale(1.1);;
                        }
                        @media (max-width: 1100px){
                            margin: 0 auto 20px;
                        } 
                        
                    }
                    h4 {
                        font-size: 20px;
                        color: #3c3950;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 30px;
                        letter-spacing: .05em;
                        @media (max-width: 1100px){
                            font-size: 16px;
                            letter-spacing: normal;
                        }
                        @media (max-width: 760px){
                            font-size: 14px;
                            line-height: none;
                        }
        
                    }
                }
            }

        }
        .step {
            display: flex;
            flex-wrap: wrap;
            .left-side {
                width: 30%;
                background-color: #201f3d;
                padding: 55px 30px;
                @media (max-width: 860px) {
                    width: 50%;
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
                h3 {
                    font-size:  24px;
                    color: #ff8900;
                    line-height: 38px;
                    @media (max-width: 860px) {
                        font-size:  18px;
                        line-height: 20px;
                    }
                }
                span {
                    display: inline-block;
                    margin-top: 20px;
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 23px;
                }

            }
            .right-side {
                width: 70%;
                background-color: #f7f7f7;
                @media (max-width: 860px) {
                    width: 50%;
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
                .gridFlex {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    >div {
                        width: 33.3%;
                        height: 300px;
                        padding: 20px 30px;
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        @media (max-width: 1100px) {
                            width: 50%;
                        }
                        @media (max-width: 860px) {
                            width: 100%;
                            height: 180px;
                        }
                        @media (max-width: 600px) {
                            height: auto;
                            margin-bottom: 10px;
                        }
                        h1 {
                            font-size: 80px;
                            color: #ff8900;
                            @media (max-width: 860px) {
                                font-size: 40px;
                            }
                        }
                        p {
                            font-size: 16px;
                            color: #333333;
                        } 
                    }
                }

            }
        }
        .programm {
            margin: 40px 0;
            h1 {
                color: #201f3d;
                line-height: 53px;
                font-size: 36px;
                text-align: center;
            }
            span {
                font-size: 16px;
                line-height: 25px;
                color: #333333;
                display:block;
                margin: 40px 0;
            }
            p {
                color: #3c3950;
                font-size: 20px;
                letter-spacing: .05em;
                text-align: center;
            }
            .tab-content {
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                .tabs {
                    width: 20%;
                    list-style: none;
                    @media (max-width: 1240px){
                        width: 100%;
                    }
                    li {
                        border-radius: 18px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border: 2px solid #99a9b5;
                        border-right-color: transparent;
                        padding: 10px 20px;
                        margin-bottom: 1px;
                        background-color: #99a9b5;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        transition: all ease-in 0.3s;
                        @media (max-width: 1240px){
                            width: 100%;
                            border-radius: 18px;
                            border: 2px solid #99a9b5;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        &.current {
                            background-color: #ffffff;
                            color: #99a9b5
                        }
                    }
                    
                }
                .tab {
                    display: none;
                    width: 80%;
                    padding: 40px;
                    border-radius: 18px;
                    border: 2px  solid #99a9b5;
                    border-top-left-radius: 0;
                    flex-direction: column;
                    color: #3c3950;
                    @media (max-width: 1240px){
                        width: 100%;
                        border-radius: 18px;
                        border: 2px solid #99a9b5;
                    }
                    ul {
                        margin-top: 20px;
                        margin-left:  50px;
                    }
                   
                    span {
                        margin: 0;

                    }
                    &.current {
                        display: flex;
                    }
                }
            }
        }
        .price {
            width: 100%;
            background-image: url(/img/jpg/8.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 60px 0;
            h1 {
                font-size: 30px;
                color: #ffffff;
                text-align: center;
                text-transform: uppercase;;
            }
            .priceBlock {
                margin-top: 120px;
                margin-left: -20px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                @media (max-width: 1300px){
                    margin-left: 0;
                }
                
                .price-card {
                    padding-left: 20px;
                    width: 33.3%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    @media (max-width: 1300px){
                        width: 60%;
                        margin: 0 auto 80px;
                        padding-left: 0;
                    }
                    @media (max-width: 768px){
                        width: 90%;
                        margin: 0 auto 80px;
                    }
                    @media (max-width: 540px){
                        width: 100%;
                        margin: 0 auto 80px;
                    }
                    .circle {
                        position: absolute;
                        margin-left: 130px;
                        margin-top: -60px;
                        width: 120px;
                        height: 120px;
                        background-color: #ffffff;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        @media (max-width: 1300px){
                            left: 50%;
                            margin-left: 0;
                            transform: translateX(-50%);
                        }
                        p {
                            color: #1e73be;
                            font-size: 22px;
                        }
                       
                        span {
                            color: #707070
                        }
                    }
                    .img {
                        height: 270px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.one {
                            background-image: url(/img/jpg/9.jpg)
                        }
                        &.two {
                            background-image: url(/img/jpg/10.jpg)
                        }
                        &.three {
                            background-image: url(/img/jpg/11.jpg)
                        }
                    }
                    .info {
                        background-color: #ffffff;
                        padding: 40px 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        ul {
                            list-style: none;
                            li {
                                text-align: center;
                                padding: 12px 0;
                            }
                            li:nth-child(even) {
                                background-color: #f4f6f7
                            }
                        }
                        .rectangle {
                            margin-top: 60px;
                        }
                    }


                }
                .price-card:nth-child(2) {
                   p {
                    color: #59d600;  
                   } 
                }
                .price-card:nth-child(3) {
                    p {
                        color: #ea1e47
                    }
                }

            }
            .notif {
                display: inline-block;
                margin-top: 30px;
                color: #ffffff;
                font-size: 14px;
                padding-right: 40px;
                line-height: 23px;
                @media (max-width: 1300px){
                    margin-top: -10px;
                    padding: 0 20px ;
                }

            }

        }
        .requeriments {
            background-color: #ffffff;
            background-image: url(/img/png/14.png);
            background-position: left;
            padding: 60px 0;
            height: 600px;
            @media (max-width: 800px){
                height: auto;
                padding: 30px 0;
            }
            .requeriments-block {
                width: 60%;
                margin: 0 auto;
                @media (max-width: 800px){
                    width: 90%;
                }
                h1 {
                    display: inline-block;
                    background-color: #201f3d;
                    color: #f2ac5c;
                    font-size: 28px; 
                    text-align: center;
                    text-transform: uppercase;
                    padding: 10px 0;
                    @media (max-width: 630px){
                    font-size: 18px; 
                    padding: 10px;
                        
                    }

                }
                .text {
                    margin: 20px 0;
                    text-align: center;
                    img {margin: 0 auto;}
                    ul {
                        list-style: none;
                        li {
                            margin: 10px 0;
                            color: #333333;
                            font-size: 16px;

                        }
                    }
                    p {
                        margin: 10px 0;
                        font-weight: 700;
                    }
                }
            }
        }
        .zigzag {
            width: 100%;
            height: 20px;
            background-image: url(/img/svg/zig.svg);
        }
        .mentor-slide {
            margin: 60px 0;
            h1 {
                font-size: 30px;
                text-align: center;
            }
            .swiper-container {
                margin-top: 30px;
                padding-bottom: 40px;
                .swiper-wrapper {
                   .swiper-slide {
                       padding:  30px;
                        @media (max-width: 1200px){
                           padding: 0 50px;
                        }
                        @media (max-width: 500px){
                            padding: 0 20px;
                        }
                       .slide-card {
                            background-color: #f1f1f1;
                            padding: 40px 20px;
                            display: flex;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            .img {
                                margin-top: 30px;
                                width: 30%;
                                height: 140px;
                                @media (max-width: 700px){
                                   margin: 0 auto;
                                }
                                @media (max-width: 600px){
                                    width: 60%;
                                    height: 180px;
                                    margin-bottom: 20px;
                                }
                                @media (max-width: 400px){
                                    width: 80%;
                                    height: 180px;
                                }
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                    border-radius: 100%;
                                    border: 2px solid orange;
                                    padding: 2px;
                                    background-color: #ffffff
                                }
                            }
                            .mentor-info {
                                padding-left: 20px;
                                width: 70%;
                                @media (max-width: 700px){
                                    width: 100%;
                                    text-align: center;
                                }
                                h1 {
                                    font-size: 28px;
                                    color: #3c3950;
                                    text-align: left;
                                    @media (max-width: 700px){
                                        text-align: center;
                                        font-size: 22px;
                                    }
                                }
                                h4{
                                    color: #3c3950;
                                    margin: 20px 0;
                                    font-size: 16px;

                                }
                                p {
                                    color: #333333;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                   
                }
                .swiper-button-next:after, .swiper-button-prev:after {
                    font-size: 30px;
                    color: white;
                    background-color: rgba(0,0,0,.3);
                    padding: 8px ;
                }
            }
            .swiper-pagination {
                span {
                    margin: 5px ;
                    width: 10px;
                    height: 10px;
                }
                .swiper-pagination-bullet-active {
                    background-color:  rgba(0,0,0,.3)
                }
                .swiper-pagination-bullet {
                    background-color: #ccc
                }
                
            }
        }
        .registration {
            background-color: #f7d365;
            padding: 60px 0;
            @media (max-width: 800px) {
                padding: 30px 0;
            }
         
            h1 {
                font-size: 28px;
                text-align: center;
                color: #3c3950;
                text-transform: uppercase; 
                @media (max-width: 768px) {
                    font-size: 22px;
                }
            }
            form {
                margin-top: 30px ;
                :focus{outline: none;}
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .col-6 {
                    width: 48%;
                    position: relative;
                    margin: 30px 0;
                    @media (max-width: 768px) {
                        width: 90%;
                        margin: 20px auto;
                    }
                    input[type="text"] {
                        color: #333; 
                        width: 100%; 
                        font-size: 18px;
                        padding: 5px 0;
                    }
                    .effect-16 {
                        border: 0;
                        padding: 4px 0;
                        border-bottom: 2px solid #907b3b;
                        background-color: transparent;
                        & ~ .focus-border {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            background-color: rgb(34, 120, 206);
                            transition: 0.4s;
                        }
                        & ~ label {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            top: -5px;
                            color: rgba(217, 31, 15, 1);;
                            transition: 0.3s;
                            z-index: 0;
                            font-weight: 600;
                            letter-spacing: -0.5px;
                        
                        }
                    }
                    .effect-16:focus ~ .focus-border,
                    .has-content.effect-16 ~ .focus-border {
                        width: 100%;
                        transition: 0.4s;
                    }
                    .effect-16:focus ~ label, .has-content.effect-16 ~ label {
                        top: -16px;
                        font-size: 12px;
                        color: rgb(34, 120, 206);
                        transition: 0.3s;
                    }
                    
                 
                    
                }
            }
            .agree {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
               >div {
                   display: flex;
                   align-items: center;
                .form-group {
                    input {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                        &:checked + label:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 3px;
                            left: 7px;
                            width: 5px;
                            height: 12px;
                            border: solid 2px #333;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                            
                          }
                    }
                    label {
                        position: relative;
                        cursor: pointer;
                        &:before {
                            content:'';
                            -webkit-appearance: none;
                            background-color: transparent;
                            border-radius: 3px;
                            border: 2px solid #333;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                            padding: 8px;
                            display: inline-block;
                            position: relative;
                            vertical-align: middle;
                            cursor: pointer;
                            margin-right: 10px;
                        }
                    }

                }
                p {
                    font-size: 13px;
                    color:  rgba(0,0,0,.87);
                }
               }
                .sendBtn {
                    text-align: center;
                    margin-top: 40px;
                    padding: 16px 80px;
                    color: #ffff;
                    background: #ff8900;
                    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2), 0px 2px 2px 0px rgba(0,0,0,.14), 0px 1px 5px 0px rgba(0,0,0,.12);
                    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
                    font-size: 16px;
                    font-weight: bolder;
                    transition: all ease-in 0.3s;
                    &:hover {
                        transform: scale(1.1)
                    }
    
                }
                  
                               
                
            }
         

        }
        .reason {
            margin: 60px 0;
            @media (max-width: 768px){
                margin: 30px 0;
            }
            h1 {
                text-align: center;
                font-size: 36px;
                @media (max-width: 768px){
                    font-size: 22px;
                }
            }
            p {
                margin-top: 40px;
                font-weight: 400;
                letter-spacing: .02em;
                @media (max-width: 768px){
                    margin-top: 10px
                }
            }
        }
    }

    .call {
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 40px;
        height: 40px;
        background-color: rgb(255, 137, 0);
        border-radius: 100%;
        -webkit-animation: circle-fill-anim 2.0s infinite ease-in-out;
        animation: circle-fill-anim 2.0s infinite ease-in-out;
        transition: all 1.6s;
        animation: pulse_animate 1s ease-out;
        animation-iteration-count: infinite;
        


    }
}