//create your reset styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-weight: normal;
   
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}