extends base/_base

block title
    title="FrontEnd"
block content
    main
        section
            .banner
                .container 
                    .content-title
                        h1(class="wow fadeInUp" data-wow-delay="0.5s") КУРСЫ FRONT-END
                        h3(class="wow fadeInUp" data-wow-delay="1.5s") HTML, CSS, JAVASCRIPT
                        span(class="wow fadeInUp" data-wow-delay="2.2s") Web developer cамая популярная профессия (73%) среди пользователей сервиса StackOverflow в 2017 году. Именно в эту категорию входят все Front-End разработчики. 
                        .buttons(class="wow fadeInUp" data-wow-delay="3s")
                            a(href='').btn  Подробнее 
                            a(href='').btn  Регистрация 
            .cards
                div
                    .icon
                        img(src='img/png/1.png' class="wow fadeIn")
                    h3(class="wow fadeInLeft") МЕНТОРИНГ
                    p(class="wow fadeInLeft") Менторинг – это взаимодействие ментора со студентом. Ментор (наставник) – это практикующий специалист, который ведет студента на протяжении всего обучения. Студент может обратиться к ментору с любым вопросом в рамках курса front end.
                div
                    img(src='img/jpg/1.jpg')
                div
                    .icon
                        img(src='img/png/2.png' class="wow fadeIn")
                    h3(class="wow fadeInRight" ) ОБУЧЕНИЕ НА ПРОЕКТЕ
                    p(class="wow fadeInRight" data-wow-delay="1s") Это реальный опыт работы на коммерческом проекте, ты получаешь запись в резюме и перед тобой открывается мир невероятных приключений! По окончанию обучения ты будешь специалистом с коммерческим опытом работы.
                div
                    img(src='img/jpg/2.jpg')
                div
                    .icon
                        img(src='img/png/3.png' class="wow fadeIn")
                    h3(class="wow fadeInUp") РАБОТА В FOXMINDED SOFTWARE
                    p(class="wow fadeInUp") Когда открывается вакансия, то первыми мы зовем к себе на собеседования наших студентов с текущих направлений: Java, Android, FrontEnd, Automation QA
                div
                    img(src='img/jpg/3.jpg')
            .block#blockEd
                .container
                    .education
                        img(src='img/png/4.png' class="wow fadeInDown")
                        h1(class="wow fadeIn") ОБУЧЕНИЕ HTML ВМЕСТЕ С FOXMINDED ЭТО:
                        .educationCards
                            div 
                                .item
                                    .icon
                                        img(src='img/png/5.png')
                                    p(class="wow fadeInUp") Обучение по уникальной методике Сергея Немчинского
                            div 
                                .item
                                    .icon
                                        img(src='img/png/8.png')
                                    p(class="wow fadeInUp") УЧИМ ТОЛЬКО НА КОНКРЕТНЫХ ЗАДАЧАХ
                            div 
                                .item
                                    .icon
                                        img(src='img/png/6.png')
                                    p(class="wow fadeInUp") ВСЕ ОБУЧЕНИЕ НА КУРСАХ FRONT-END ПРОИСХОДИТ ОН-ЛАЙН — УЧИСЬ В УДОБНОЕ ТЕБЕ ВРЕМЯ С КОМФОРТНОЙ СКОРОСТЬЮ
                            div
                                .item
                                    .icon
                                        img(src='img/png/7.png')
                                    p(class="wow fadeInUp") 100% УСВАИВАНИЕ УЧЕБНОГО МАТЕРИАЛА
            .line-block
                h1(class="wow fadeInDowm") С НАМИ ТЕБЯ ЖДЕТ ФАНТАСТИЧЕСКИЙ МИР ПРОГРАММИРОВАНИЯ!
                a(href='').btn  Регистрация 
            .founder
                .container
                    .founderBlock
                        .info 
                            h3(class="wow fadeInDown") Основатель компании FoxmindEd
                            p(class="wow fadeInLeft") Сергей Немчинский — самый мудрый лис в FoxmindEd, который 20 лет работает программистом. Почти 15 из них — в Java. В прошлом Сергей работал Project manager в Ciklum, Team Leader в Luxoft, NetCracker и IntroPro, был начальником отдела веб-разработки в ЛигаБизнесИнформ. Параллельно преподавал в учебных центрах Luxoft, NetCraker и IntroPro, и даже работал учителем в школе. Является Certified Scrum Master. Сейчас Сергей — основатель и руководитель учебной компании FoxmindEd, а также компании по разработке программного обеспечения FoxmindEd Software.
                        .img 
                            img(src='img/png/founder.png' class="wow fadeInRight")    
            .line-country 
                .box
                    img(src="img/jpg/4.jpg", alt="") 
                    .text 
                        h1(class="wow fadeInLeft") БОЛЬШЕ 400
                        h4(class="wow fadeInLeft") УСПЕШНЫХ СТУДЕНТОВ ЗА 2 ГОДА
                .box 
                    img(src="img/jpg/6.jpg", alt="") 
                    .text 
                        h1(class="wow fadeInDown") ТОП 5
                        h4(class="wow fadeInDown") НАШИ ВЫПУСКНИКИ РАБОТАЮТ В ТОП 5 IT КОМПАНИЙ УКРАИНЫ
                .box
                    img(src="img/jpg/7.jpg", alt="")
                    .text 
                        h1(class="wow fadeInRight") 1ST JOB
                        h4(class="wow fadeInRight") ВОЗМОЖНОСТЬ ПОЛУЧИТЬ РЕАЛЬНЫЙ СТАЖ В НАШЕЙ DEV КОМПАНИИ
            .mentor
                .container 
                    h1(class="wow fadeInDown")  АЛЕКСЕЙ ТЮРИН, РУКОВОДИТЕЛЬ И МЕНТОР НАПРАВЛЕНИЯ FRONT-END
                    .mentor-block
                        p Совет студентам: «Фронтенд разработка — работа творческая, в ней одновременно сочетаются точные и гуманитарные области. Необходимо всегда быть в курсе нововведений и хороших практик, а также уметь применять их. Никогда не переставайте учиться и развиваться, и не останавливайтесь на достигнутом. Развивайте в себе коммуникативные и социальные навыки, расширяйте техническую область, выходите за рамки своей предметной области и специализации, учитесь работать в команде. Не бойтесь пробовать и эксперементировать с новыми языками программирования, техниками и фреймворками».
            .advantages#advantages
                .container
                    h1(class="wow fadeInDowm" ) ПРЕИМУЩЕСТВА ОБУЧЕНИЯ FRONTEND В FOXMINDED:
                .advantage-block
                    .inner-box 
                        .ad-icon(class="wow fadeInDown")
                            img(src='img/png/11.png')
                        h4(class="wow fadeInUp") МЫ ОБУЧАЕМ ТОЛЬКО ТОМУ, ЧТО ТРЕБУЕТ РЫНОК
                    .inner-box
                        .ad-icon(class="wow fadeInDown")
                            img(src='img/png/10.png')
                        h4(class="wow fadeInUp") ВСЕ НАШИ МЕНТОРЫ — ЭКСПЕРТЫ РАБОТАЮЩИЕ НА РЕАЛЬНЫХ КОММЕРЧЕСКИХ ПРОЕКТАХ В КРУПНЫХ IT КОМПАНИЯХ
                    .inner-box
                        .ad-icon(class="wow fadeInDown")
                            img(src='img/png/12.png')
                        h4(class="wow fadeInUp") РЕАЛЬНЫЕ ЗАДАЧИ — ПРОВЕРКА И КОНСУЛЬТИРОВАНИЕ 
                    .inner-box
                        .ad-icon(class="wow fadeInDown")
                            img(src='img/png/13.png')
                        h4(class="wow fadeInUp") ВЫ ПОЛУЧАЕТЕ КОНТЕНТ И МАТЕРИАЛЫ, КОТОРЫЕ НУЖНЫ ДЛЯ РЕШЕНИЯ ЗАДАЧИ
            .line-block.orange
                h1(class="wow fadeInDowm") FRONT-END КУРСЫ В КИЕВЕ ИЛИ ЛЮБОМ ДРУГОМ ГОРОДЕ МИРА!
                a(href='').btn  Регистрация 
            .step
                .left-side 
                    h3(class="wow fadeInLeft") КАК ПРОХОДИТ HTML ОБУЧЕНИЕ В FOXMINDED:
                    span(class="wow fadeInLeft" data-wow-delay="1s") мы всегда идем на встречу нашему студенту, если у вас есть какие-либо замечания или предложения — дайте нам знать!
                .right-side
                    .gridFlex
                        div
                            h1(class="wow fadeInDown") 01.
                            p РЕГИСТРИРУЕШЬСЯ НА КУРС
                        div
                            h1(class="wow fadeInDown") 02.
                            p С ТОБОЙ СВЯЗЫВАЕТСЯ СОТРУДНИК FOXMINDED И ОТВЕЧАЕТ НА ВСЕ ТВОИ ВОПРОСЫ
                        div
                            h1(class="wow fadeInDown") 03.
                            p ТЕБЯ РАСПРЕДЕЛЯЮТ К МЕНТОРУ И ТЫ ПОЛУЧАЕШЬ ПЕРВОЕ ЗАДАНИЕ
                        div
                            h1(class="wow fadeInDown" data-wow-delay="1s") 04.
                            p ИЗУЧАЕШЬ МАТЕРИАЛ И ДЕЛАЕШЬ ЗАДАНИЕ
                        div
                            h1(class="wow fadeInDown" data-wow-delay="1s") 05.
                            p ПОЛУЧАЕШЬ ОТЗЫВ ОТ МЕНТОРА 
                        div
                            h1(class="wow fadeInDown" data-wow-delay="1s") 06.
                            p ФИНИШИРУЕШЬ ЗАДАНИЕ И ПЕРЕХОДИШЬ К СЛЕДУЮЩЕМУp
            .line-block.grey
                h1(class="wow fadeInDowm") ПРИХОДИ НА FRONT END, У НАС ЕСТЬ ПЕЧЕНЬКИ 😉
                a(href='').btn  Регистрация 
            .programm#programm
                .container
                    h1(class="wow fadeInDown") ПРОГРАММА КУРСА FRONT END
                    span Вся программа в разделе курсы Front End состоит, по большей части, из реалистичных практических заданий, помогающих освоить основы верстки, построения основных HTML блоков, структурной адаптивности и поведения.
                    p(class="wow fadeInUp") ПРОГРАММА ОБУЧЕНИЯ FRONT-END СОСТОИТ ИЗ СЛЕДУЮЩИХ РАЗДЕЛОВ:

                    .tab-content
                        ul.tabs
                            li.current(data-tab="tab-1") РАЗДЕЛ 1. HTML/CSS
                            li(data-tab="tab-2") РАЗДЕЛ 2. JQUERY
                            li(data-tab="tab-3") РАЗДЕЛ 3. JAVASCRIPT
                            li(data-tab="tab-4") РАЗДЕЛ 4. ANGULAR
                        .tab(id="tab-1").current
                            span Задания данного раздела позволяют новичку освоить основы верстки и позиционирования блоков HTML с применения CSS. Научит размещать элементы с помощью свойства float и применять сетки на основе Flex и Grid layouts.
                        .tab(id="tab-2")
                            span Задания данного раздела направлены на применение основных виджетов библиотеки JQueryUI, а именно Dialog Box, Datepicker, Autocomplete, Form, которые помогут в быстрой разработке веб-приложений. Применение функциональности библиотеки jQuery — Drag-n-Drop и Form validation функциональности, разработка приложения с применением технологии AJAX и формата JSON.
                        .tab(id="tab-3")
                            span Задания данного раздела направлены на работу с переменными, операторами, типами данных и функциями. Взаимодействие с DOM, строками и массивами. Объектно-ориентированный JavaScript. Расширение и валидация форм посредством JS. Обновление веб-страниц при помощи Ajax. Хранение данных с применением Local и Session Storage и сохранение промежуточных данных с использованием cookie.
                        .tab(id="tab-4") Данные задачи направлены на разработку SPA-приложения (приложения по продаже велосипедов) и применением основных техник и философии Angular 4: 
                            ul
                                li Создание основных компонентов, модулей, моделей и сервисов при помощи Angular CLI
                                li Виды привязки данных
                                li Встроенные директивы
                                li События и формы
                                li Использование и создание каналов (pipes)
                                li Компоненты и их жизненный цикл
                                li Службы (Services) и их провайдеры
                                li Модули (создание и использование) и что такое отложенная загрузка (lazy loading)
                                li Асинхронные запросы HTTP на «бек»
                                li Хранение данных c применением Firebase
                                li Маршрутизация и навигация
                                li Анимация
            .line-block.light-orange
                h1(class="wow fadeInDowm") КУРСЫ FRONT-END ОНЛАЙН
                a(href='').btn  Регистрация 
            .price#price 
                .container
                    h1(class="wow fadeInUp") стоимость обучения
                    .priceBlock
                        .price-card(class="wow fadeInLeft") 
                            .circle
                                p 3500 сом*
                                span в месяц
                            .img.one
                                h1 МЕНТОРИНГ
                            .info
                                ul 
                                    li 10-дневный тестовый период
                                    li Общение со своим ментором
                                    li Онлайн доступ к учебной программе
                                    li Онлайн доступ в студенческий чат
                                    li Возможность заморозить обучение
                                    li По окончанию ты Junior Front-End Dev
                                .rectangle РЕГИСТРАЦИЯ
                        .price-card(class="wow fadeIn") 
                            .circle
                                p 3500 сом*
                                span в месяц
                            .img.two
                                h1 ПРОЕКТ
                            .info
                                ul 
                                    li Работа над реальным проектом
                                    li Работа в команде единомышленников
                                    li Еженедельные статус-митинги
                                    li Возможность заморозить обучение
                                    li Запись в резюме про опыт работы:
                                    li Trainee at Foxminded Software
                                .rectangle РЕГИСТРАЦИЯ
                        .price-card(class="wow fadeInRight") 
                            .circle
                                p 3500 сом*
                                span в месяц
                            .img.three
                                h1 ИНДИВИДУАЛЬНОЕ ОБУЧЕНИЕ
                            .info
                                ul 
                                    li Индивидуальный план обучения
                                    li Индивиальный график обучения
                                    li Возможность выбрать ментора
                                    li Доступ в студенческий чат
                                    li Больше времени со своим ментором
                                    li Возможность заморозить обучение
                                .rectangle РЕГИСТРАЦИЯ
                    .notif *Стоимость в гривне указана для резидентов Украины. <br> Для нерезидентов Украины и студентов, которые оплачивают обучение из других стран, стоимость обучения составляет: Менторинг — $140, Проект — $160, Индивидуальная программа — $280
            .requeriments#requeriments 
                .container
                    .requeriments-block
                        h1(class="wow fadeInUp")  Минимальные требования для начала обучения:
                        .text 
                            ul 
                                li 1. Минимальный опыт использования любого языка программирования
                                li 2. Знание ООП
                                li 3. Базовые знания HTML и CSS
                                li 4. Знание английского на уровне свободного чтения документации
                            img(src='img/png/15.png')
                            p Длительность обучения:
                            ul 
                                li Все зависит исключительно от вас и того сколько времени вы сможете уделять учебе.
                                li Больше уделяете времени — быстрее учитесь — меньше платите.
                                li Средний срок обучения на курсе Front-End составляет 4-5 месяцев.
            .zigzag
            .mentor-slide#mentors
                .container
                    h1(class="wow fadeInUp")  НАШИ МЕНТОРЫ:
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide 
                                //- mentor-slide-card 
                                include components/mentor-slide-card
                            .swiper-slide 
                                //- mentor-slide-card 
                                include components/mentor-slide-card
                            .swiper-slide 
                                //- mentor-slide-card 
                                include components/mentor-slide-card
                            .swiper-slide 
                                //- mentor-slide-card 
                                include components/mentor-slide-card
                            .swiper-slide 
                                //- mentor-slide-card 
                                include components/mentor-slide-card
                        .swiper-pagination
                        .swiper-button-next
                        .swiper-button-prev
            .registration
                .container
                    h1(class="wow fadeInUp")  УСПЕЙ ЗАПИСАТЬСЯ НА FRONT-END КУРСЫ ДО ПОВЫШЕНИЯ ЦЕН! 
                    //- форма для регистрации
                    form(action="")
                        .col-6.input-effect
                            input.effect-16(id='name1' type='text' placeholder='' required)
                            label(for='name1') Ваша фамилия и имя*
                            span.focus-border
                        .col-6.input-effect
                            input.effect-16(id='name2' type='text' placeholder='' required)
                            label(for='name2') Ваш email*
                            span.focus-border
                        .col-6.input-effect
                            input.effect-16( id='name3' type='text' placeholder='' required)
                            label(for='name3') Ваш номер телефона*
                            span.focus-border
                        .col-6.input-effect
                            input.effect-16(id='name4' type='text' placeholder='' required)
                            label(for='name4') Ваш skype*
                            span.focus-border
                    .agree
                        div
                            .form-group
                                input(type="checkbox" id="check")
                                label(for="check")
                            p Отправляя сообщение, я соглашаюсь с офёртой
                        a(href='#' ).sendBtn ОТПРАВИТЬ
            .reason 
                .container 
                    h1(class="wow fadeInUp") Почему стоит учить Front End?
                    p IT рынок Украины продолжает набирать высоту. Самый большой спрос в 2017 — начале 2018 года на вакансию front-end девелопер. Пока в смежных областях программирования на 1 рабочее место претендует около 20 человек, на позицию front-end разработчика между собой конкурируют только четверо. Такой расклад самым оптимистичным образом отражается на зарплате «работников фронта»: пока back-end разработчик уровня junior рассчитывает на $400, начинающий front-end developer может претендовать на все $600. И это мы говорим о старте карьеры. <br><br> Front-ender’у проще достучаться до сердца HR’а. Даже без опыта работы, начинающий специалист, имеющий собственные проекты, может претендовать на то, что на них посмотрят. (В то время как проекты back-end джунов, написанные «для души» долгими зимними вечерами продолжают пылиться в GitLab’е). Front-end проекты наглядны, и даже проект, сделанный на онлайн курсах по javascript может стать пропуском в профессию. <br><br> Средний срок обучения на курсах front-end составляет всего полгода. За это время студент познакомится с HTML, Javascript, JQuery и Angular. Всего за несколько месяцев можно освоить профессию, одну из самых востребованных в IT.           
                       
        //- .call

//- connect only custom js
block scripts