<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='description', content='Free Web tutorials')
        meta(name='keywords', content='HTML,CSS,XML,JavaScript')
        meta(name='author', content='John Doe')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet" href='fonts/stylesheet.css')
        link(rel="stylesheet" href='css/libs.css')
        link(rel="stylesheet" href='css/style.css')
        block title
    body
        include ../include/_header
        
        block content

        include ../include/_footer
        
        script(src='js/libs.js')
        script(src='js/main.js')

        block scripts