footer {
    background-color: #d9d9d9;
    .footer {
        padding: 30px 0;
        width: 20%;
        @media (max-width: 768px){
            width: 60%;
        }
        p {
            font-size: 14px;
            color: #333333;
            line-height: 25px;
            font-weight: 400;
        }
        a {
            color: #ff8900
        }
    }
}