header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 2px 0 rgba(56,69,84,.2);
    background-color: rgba(255,255,255,.95);

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            transition: all ease-in 0.3s;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
        nav {
            ul {
                position: relative;
                display: flex;
                list-style: none;
                
                .closeMenu {
                    width: 20px;
                    height: 20px;
                    background-image: url(/img/svg/close.svg);
                    background-size: cover;
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    display: none;

                }
                a {
                    font-size: 16px;
                    display: block;
                    margin: 40px 16px;
                    color: #3c3950;
                    font-weight: bolder;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    border-bottom: 2px solid transparent;
                    transition: all ease-in-out 0.4s;
                    &:hover {
                        border-bottom: 2px solid #3c3950;
                        cursor: pointer;

                    }
                    &.active {
                        border-bottom: 2px solid #3c3950;
                    }
                }
                @media (max-width: 900px) {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    display: inline-block;
                    z-index: 1;
                    right: -100%;
                    transition: all 0.6s ease-in-out;
                    background-color: #ffffff;
                    padding: 0 60px 0 20px;
                    box-shadow: 0 0 2px 0 rgba(56,69,84,.2);
                    .closeMenu {
                        display: block;

                    }
                }
               
            }
            ul.active {
                visibility: visible;
                opacity: 1;
                right: 0;

            }
        }
        .burger {
            margin: 30px;
            width: 30px;
            height: 30px;
            background-image: url(/img/svg/burger.svg);
            display: none;
            @media (max-width: 900px) {
                display: flex;
            }
        }
    }
}