header 
    .container
        .head 
            a(href='index.html').logo 
                img(src='img/logo.png')
            nav
                ul.drop-menu
                    li 
                        a(href="#blockEd") Обучение
                    li 
                        a(href="#advantages") Преимущества 
                    li 
                        a(href="#programm") Программа 
                    li 
                        a(href="#price") Стоимость 
                    li 
                        a(href="#requeriments ") Требования 
                    li 
                        a(href="#mentors") Менторы 
                    .closeMenu
                .burger  